{% load staticfiles %}
<html>

<head>
    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <meta name="theme-color" content="#10316b">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="apple-touch-startup-image" href="{% static 'image/splash.png' %}">
    <link rel="manifest" href="{% static '/manifest.json' %}">
    <link rel="icon"
          type="image/png"
          href="{% static 'image/favicon.png' %}">
    <link rel="apple-touch-icon" sizes="512x512" href="{% static 'image/square-logo-512.png' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="{% static 'js/index.js' %}"></script>
    <title>scoot it!</title>
</head>

<body>
<div class="screen">
    <nav class="navbar" id="navbar">
        <a class="navbar-brand" href="#">
            <i class="material-icons logo">directions_car</i>scoot it!
        </a>
    </nav>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Open in Google Maps</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>You can open the trip data in Google Maps. Results may slightly differ due to different routing algorithms.<br>Directions
                        shown in Google Maps will be a one-way-trip from the starting point.</p>
                    <form id="ask-start">
                        <label for="start-select">Choose where to begin:</label>
                        <select class="custom-select mb-3" id="start-select" required>
                        </select>
                        <button type="submit" class="btn btn-success btn-lg btn-block export-show">Open</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div id="map"></div>
        <div id="right-panel">
            <div id="container">
                <span class="parameter-label"><h5><i class="material-icons">edit_location</i>Waypoints</h5></span>
                <div class="input-group">
                    <input type="text" class="form-control" id="loc-search" placeholder="Where to go..."
                           aria-label="Recipient's username with two button addons" aria-describedby="button-addon4">
                    <div class="input-group-append" id="button-addon4">
                        <button class="btn btn-outline-primary" type="button" id="addwaypoint">Add</button>
                    </div>
                </div>
                <div id="waypoint-list">
                </div>
            </div>
            <hr>
            <span class="parameter-label"><h5><i class="material-icons">call_split</i>Method</h5></span>
            <div class="btn-group btn-group-toggle" id="method-choice" data-toggle="buttons">
                <label class="btn btn-outline-primary active">
                    <input type="radio" name="options" id="option1" autocomplete="off" value="distance">Distance
                </label>
                <label class="btn btn-outline-primary">
                    <input type="radio" name="options" id="option2" autocomplete="off" value="duration">Time
                </label>
            </div>
            <hr>
            <button type="submit" id="submit" class="btn btn-outline-success btn-lg btn-block">
                <div class="loader"><span class="spinner-border spinner-border-sm" role="status"
                                          aria-hidden="true"></span></div>
                <div class="button-label">scoot it!</div>
            </button>
            <br>
            <div id="alert-board">
            </div>
            <div class="alert alert-info" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="alert-heading">Welcome!</h4>
                <p><b>scoot it!</b> is a trip optimizer app. We help to optimize the places you want to visit by
                    reordering them based on the best distance or time - you decide! Keep in mind that we calculate a
                    round-trip through all the waypoints. We use Genetic Algorithm to
                    calculate a better sequence of your journey.
                </p>
                <hr>
                <p>Start by entering some waypoints, at least 2. Then choose a method to calculate your
                    journey. Once you're done, simply press <b>scoot it!</b>, wait for a few seconds, and... Ta-da!
                    Enjoy a better trip!</p>
                <hr>
                <p class="mb-0">View the sources at <a href="https://gitlab.com/colony-group/scoot"
                                                       class="badge-pill badge-info" target="_blank">GitLab</a>
                </p>
            </div>
        </div>
    </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&libraries=places&callback=initMap"
        async defer></script>
</body>
<script>
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('static/js/service-worker.js')
            .then(function (reg) {
            }).catch(function (err) {
        });
    }
</script>
</html>