::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    background-color: #10316b;
}

.screen {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    min-height: 0;
}

#right-panel {
    font-family: 'Roboto', 'sans-serif';
    line-height: 30px;
    overflow: auto;
    flex: 0 0 30%;
    padding: 8px;
    background: #fefefe;
    z-index: 10;
    box-shadow: -8px 0 10px -6px rgba(0, 0, 0, 0.65);
}

.material-icons {
    /*margin-right: 5px;*/
    vertical-align: text-top;
}

#right-panel select {
    width: 100%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    flex-grow: 3;
}

#directions-panel {
    margin-top: 10px;
    background-color: #DCDCDC;
    padding: 10px;
    overflow: scroll;
    height: 19.4rem;
}

#navbar {
    background: #10316b;
    padding: 8px 50px;
}

.navbar-brand {
    color: #eac100;
    font-weight: 800;
    font-family: 'Varela Round', sans-serif;
    font-size: 2em;
    line-height: 1;
}

.navbar-brand:hover {
    color: #eaac25;
}

.parameter-label {
    width: 100%;
    display: block;
}

h5 {
    font-family: 'Varela Round', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
}

h4 {
    font-family: 'Varela Round', Roboto, sans-serif;
    font-weight: 600;
}

h5.material-icons {
    margin-right: 5px;
}

.logo {
    vertical-align: top;
    font-size: 30px;
    margin-right: 6px;
}

.waypoint-entry {
    padding: 8px;
    margin: 4px;
    font-size: 1.2em;
    display: flex;
}

.waypoint-code {
    vertical-align: middle;
    margin-right: 12px;
    font-size: 1.1em;
    font-weight: 700;
    font-family: "Varela Round", Roboto, sans-serif;
    min-width: 1.2em;
    display: inline-block;
    text-align: end;
}

.waypoint-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
}

.remove {
    margin-left: 12px;
}

#export, .export-show{
    font-family: "Varela Round", Roboto, sans-serif;
}

#method-choice {
    width: 100%;
}

#method-choice > * {
    width: 50%;
}

#submit {
    border-color: #159736;
    color: #159736;
    margin-top: 12px;
}

#submit:hover {
    background: #159736;
    color: #eacf00;
}


.loader {
    margin-right: 5px;
    display: inline-block;
    vertical-align: inherit;
}

.button-label {
    font-weight: 800;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.2em;
    line-height: 1.5;
    display: inline;
}

#alert-board {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: -8px;
}

.alert {
    margin-bottom: 0;
}

@media (max-width: 768px) {

    .wrapper {
        flex-direction: column;
    }

    #map {
        height: 100vh;
    }

    #navbar {
        padding: 8px 8px;
    }

    #right-panel {
        flex: 0 0 40%;
    }

}