::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.screen {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    min-height: 0;
}
#right-panel {
    font-family: 'Roboto', 'sans-serif';
    line-height: 30px;
    overflow: auto;
    flex: 0 0 30%;
    padding: 8px;
    background: #b5dfff;
    z-index: 10;
    box-shadow: -8px 0 10px -6px rgba(0, 0, 0, 0.65);
}

.material-icons {
    /*margin-right: 5px;*/
    vertical-align: text-top;
}

#right-panel select, #right-panel input {
    font-size: 15px;
}

#right-panel select {
    width: 100%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    flex-grow: 3;
}


#directions-panel {
    margin-top: 10px;
    background-color: #DCDCDC;
    padding: 10px;
    overflow: scroll;
    height: 19.4rem;
}

#navbar {
    background: #10316b;
    padding: 8px 50px;
}

.navbar-brand {
    color: #eac100;
    font-weight: 800;
    font-family: 'Varela Round', sans-serif;
    font-size: 2em;
    line-height: 1;
}

.navbar-brand:hover {
    color: #eaac25;
}

.parameter-label {
    width: 100%;
    display: block;
}

h5 {
    font-family: 'Varela Round', sans-serif;
    font-weight: 600;
}

.logo {
    vertical-align: top;
    font-size: 30px;
    margin-right: 6px;
}

#method-choice {
    width: 100%;
}

#method-choice > * {
    width: 50%;
}

#submit {
    font-weight: 800;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.2em;
    line-height: 1.5;
    border-color: #0b8457;
    color: #0b8457;
    margin-top: 12px;
}
#submit:hover {
    background: #0b8457;
    color: #eac100;
}

@media (max-width: 768px) {

    .wrapper {
        flex-direction: column;
    }
    #map {
        height: 100vh;
    }
    #navbar {
        padding: 8px 8px;
    }
    #right-panel {
    flex: 0 0 40%;
    }

}