#right-panel {
    font-family: 'Roboto', 'sans-serif';
    line-height: 30px;
    padding-left: 10px;
}

#right-panel select, #right-panel input {
    font-size: 15px;
}

#right-panel select {
    width: 100%;
}

#right-panel i {
    font-size: 12px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100vh;
    float: left;
    width: 70vw;
    position: sticky;
    top: 0;
}

#right-panel {
    margin: 20px;
    border-width: 2px;
    width: 20%;
    height: 400px;
    float: left;
    text-align: left;
    padding-top: 0;
}

#directions-panel {
    margin-top: 10px;
    background-color: #DCDCDC;
    padding: 10px;
    overflow: scroll;
    height: 19.4rem;
}

.navbar-brand {
    color: #86A8AF;
}

input {
    border-radius: 30px;
    height: 30px;
}

body{
    font-family: Futura, serif;
}

#left-panel{
    position: sticky;
}